<div class="row">
  <div class="col s4 offset-s2">
    <div class="card z-depth-5" > 
      <div class="card-content">
        <div class="row center-align">
            <img src="../../assets/sign-in-logo.png">
            <alert></alert>
        </div>
        <div class="row">
            <div  class="progress">
              <div *ngIf="loading" class="indeterminate"></div>
            </div>
        </div>
          <form class="" name="form" (ngSubmit)="f.form.valid && login()" #f="ngForm" novalidate>
              <div class="row"> 
                <div class="input-field col s12 ">
                  <i class="material-icons prefix">account_circle</i>
                  <input id="UserNameInput" [ngClass]="trySubmit? 'validate invalid' : 'validate'" type="text" name="UserName" #UserName="ngModel" [(ngModel)]="model.username" minlength = "3" required>
                  <label for="UserNameInput">Login</label>
                  <span class="helper-text" [attr.data-error]="UserName.errors?(UserName.errors.required?'Required field!':'Minimum 3 characters needed'):''" for="UserNameInput"></span>
                </div>        
              </div>
              <div class="row">
                <div class="input-field col s12">
                  <i class="material-icons prefix">vpn_key</i>
                  <input id="PasswordInput" type="password" [ngClass]="trySubmit? 'validate invalid' : 'validate'" name="Password" #Password="ngModel" [(ngModel)]="model.password" minlength = "3" required>
                  <label for="PasswordInput">Password</label>
                  <span class="helper-text" [attr.data-error]="Password.errors?(Password.errors.required?'Required field!':'Minimum 3 characters needed'):''" for="Password"></span>
                </div>
              </div>
              <div class="row">                  
                  <button (click) = "onClick()" [disabled]="loading" class="col s8 offset-s2 btn-large btn-submit z-depth-3" type="submit">
                     Login
                  </button>
              </div>
          </form>      
      </div>  
    </div>
  </div>
</div>
