<div class="row">
    <div class="col s4 offset-s2">
      <div class="card z-depth-5">

        <div class="card-image">
            <div *ngIf="loading" class="progress">
                <div  class="indeterminate"></div>
            </div>
            <img src="https://i.pinimg.com/736x/cb/51/c8/cb51c8e6890277bf9fd245ff18ccfa89--icon-illustrations-eps.jpg">
            <div class="pad profileImage center-align">
                <img id = "profileImg" src="../../assets/profile-img.png" alt="">
            </div>
        </div> 

        <div class="card-content">
            <h6 class = "card-title center-align"> You are logged as <strong>{{currentUser.username}}</strong></h6>
            <div class="row">
              <i class="material-icons">person</i>
              <span>First Name: </span>{{currentUser.firstName}}
            </div>
            <div class="row">
              <i class="material-icons">person</i>
              <span>Last Name: </span> {{currentUser.lastName}}
            </div>
        </div>

        <div class="card-action center-align">
            <button (click)="logOut()" [disabled]="loading" class="btn-large btn-submit z-depth-3">
                Logout
              </button>
        </div>
        
      </div>
    </div>
  </div>